<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
    



<section class="r-form">
    <div class="r-form-main-con">
        <form action="">
            <h1>MadeFitness</h1>

            <div class="lh">
                <p>Adults: There is an initial enrolment fee of #229,050 and an anual subscription fee of #152,700.</p>
                <p>Children over 12 and 18: There is an initial one-time enrolment fee of #91,620 and an annual subscription fee of 76,350.</p>
            </div>



            <!---------------------------------------- -->


            <div class="form-control">

                <div class="input-con">
                    <label for="">First Name <span class="must">*</span></label>
                    <input type="text" placeholder="First Name" required>
                </div>


                <div class="input-con">
                    <label for="">Last Name <span class="must">*</span></label>
                    <input type="text" placeholder="Last Name" required>
                </div>

            </div>


            <!-- --------------------------------------- -->

             <div class="form-control">
            
                <div class="input-con">
                    <label for="">Address Line 1 <span class="must">*</span></label>
                    <input type="text" placeholder="Address Line 1" required>
                </div>


                <div class="input-con">
                    <label for="">City <span class="must">*</span></label>
                    <input type="text" placeholder="City" required>
                </div>

            </div>

            <!-- --------------------------------------- -->

             <div class="form-control">

                <div class="input-con">
                    <label for="">State <span class="must">*</span></label>
                    <input type="text" placeholder="State" required>
                </div>


                <div class="input-con">
                    <label for="">Zip Code</label>
                    <input type="number" placeholder="Zip Code" required>
                </div>

            </div>

            <!-- ----------------------------------------------- -->

            <div class="mog-main-con">
                <p>Mode Of Contact <span class="must">*</span></p>

                <div class="mog-con">
                    <input type="checkbox">
                    <p>Email</p>
                </div>

                <div class="mog-con">
                    <input type="checkbox">
                    <p>Phone</p>
                </div>
            </div>


            <!-- --------------------------------------- -->

            <div class="form-control">

                <div class="input-con">
                    <label for="">Select Your Gender <span class="must">*</span></label>
                    
                    <select name="" id="" required>
                        <option value="">-Select-</option>
                        <option class="options">Male</option>
                        <option class="options">Female</option>
                        <option class="options">Trans</option>
                        <option class="options">Other</option>
                    </select>
                </div>

            </div>

            <!-- ------------------------------------------ -->

            <div class="form-control">

            <div class="input-con">
                <label for="">Membership Plan <span class="must">*</span> </label>
        
                <select id="" required>
                      <option value="" class="option">- Select -</option>
                      <option class="options">Daily - ₦2,000</option>
                      <option class="options">Weekly - ₦10,000</option>
                      <option class="options">Monthly - ₦27,000</option>
                      <option class="options">Quarterly - ₦47,000</option>
                      <option class="options">Yearly - ₦100,000</option>
                </select>
            </div>

            </div>

            <!-- ---------------------------------------------- -->

            <div class="form-control">

            <div class="input-con">

              <label for="">Fitness Goals</label>

              <textarea class="goals" rows="3" placeholder="e.g. Lose weight, build muscle, frolick, body display, significant other scouting.."></textarea>
            </div>

            </div>

            <!-- -------------------------------------------------- -->

            <h1>Emergency Contact Information</h1>

            <!---------------------------------------- -->


            <div class="form-control">

                <div class="input-con">
                    <label for="">First Name <span class="must">*</span></label>
                    <input type="text" placeholder="First Name" required>
                </div>


                <div class="input-con">
                    <label for="">Last Name <span class="must">*</span></label>
                    <input type="text" placeholder="Last Name" required>
                </div>

            </div>

            <!-- ------------------------------------- -->

                        <!---------------------------------------- -->


            <div class="form-control">

                <div class="input-con">
                    <label for="">Phone/Mobile <span class="must">*</span></label>
                    <input type="text" placeholder="Mobile Number" required>
                </div>

            </div>

            <!-- --------------------------------------- -->

            <div class="form-control">

                <div class="input-con">
                    <label for="">Relationship <span class="must">*</span></label>
                    
                    <select name="" id="" required>
                        <option value="">-Select-</option>
                        <option class="options">Father</option>
                        <option class="options">Mother</option>
                        <option class="options">Guidian</option>
                        <option class="options">Sister</option>
                        <option class="options">Brother</option>
                        <option class="options">Child</option>
                        <option class="options">Other</option>
                    </select>
                </div>

            </div>

            <button>Submit Form</button>


        </form>
    </div>
</section>






















</body>
</html>