<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="planA.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.2.0/css/line.css">
</head>
<body>
    

    <a href="index.html">
        <div class="return">
            <i class="uil uil-arrow-left"></i>
        </div>
    </a>




<div class="container">

    <h1>MadeFitness</h1>

    <div class="ss1">
        <p class="p1">SIGN IN</p>
        <p>SIGN UP</p>
    </div>

    <form class="main-con">
        <div class="form1">
            <input type="username" placeholder="Username" required>
        </div>

        <div class="form1">
            <input type="password" placeholder="Password" required>
        </div>
    

        <div class="checkbox">
            <input type="checkbox" name="" id=""> 
            <p>stay signed in</p>
        </div>


        <div class="form1">
            <button class="btn">SIGN IN</button>
        </div>

            

    </form>

        <P class="p-reset">Forgot Password?</P>

</div>





















</body>
</html>